<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <title>Random Gif Display page</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <style>
      body {
          background-color:transparent;
      }
      #gifContainer {
          width:1280px;
          height:720px; /*
          width: 75vw;
          height: 75vh; */
          <% if(offlineDebugMode == true){ %>
            border: black solid medium;
          <% } %>
      }
      .attrGif {
        color: #000;
        font-size:16pt;
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      }
      .username {
        padding-left: 0.25em;
        font-size: 14pt;
        position: absolute;
        bottom:0;
        right:5px;
      }
      .prompt {
        padding-left: 0.33em;
        position: absolute;
        bottom:0;
        left:0;
        font-size:12pt;
      }

  </style>
  </head>
  <body <% if(offlineDebugMode == true){ %> style="border: red solid thin;"<% } %> >
    <div id="gifContainer">
      <% for(var gif in gifs){ %>
        <div style=" position:absolute; top: <%= gifs[gif].top %>px; left: <%= gifs[gif].left %>px; 
         width: <%= gifs[gif].width %><%= gifs[gif].unit %>;
         height: <%= gifs[gif].height %><%= gifs[gif].unit %>
         <%= gifs[gif].fullMode %>"
          class="attrGif">
          
          <img  src= <%= gifs[gif].src %>>
          <div class="prompt"><%= gifs[gif].prompt %></div>
          <div class="username"><%= gifs[gif].username %></div>
          <img  src="Poweredby_100px-White_VertLogo.png" 
          width="101px" height="36px" title="Powerd By Giphy" alt="Powerd By Giphy" style="margin-top: -8px" />
        </div>
        <% } %>
    </div>
  </body>
</html>